---
---
<footer class="w-full py-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto flex justify-center">
    <span class="text-[var(--white-icon)] text-sm text-center">
      Codemaker® es una marca registrada. Todos los derechos reservados. <br />
      <br />

      Proyecto desarrollado por docentes y desarrolladores en Jaén.
    </span>
  </div>
</footer>
